@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
}

@theme inline {
  --color-background: #F9FAFB;
  --color-primary: #2563EB;
  --color-primaryHover: #1D4ED8;
  --color-secondary: #10B981;
  --color-accent: #8B5CF6;
  --color-textPrimary: #1F2937;
  --color-textSecondary: #4B5563;
  --color-muted: #9CA3AF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-textPrimary);
  font-family: Arial, Helvetica, sans-serif;
}